<div class="form-page">
<div class="container">
  <div class="row"><div class="col-md-10 col-md-offset-1">

  <h2>Choose your account type</h2>
  <h5>No credit card needed until your 5 FREE trial translations are used</h5>

  	<div class="row" id="pricing-table">

  		<div id="pricePlans">
				<ul id="plans">
					<li class="plan">
						<ul class="planContainer">
							<li class="title"><h2>Trial</h2></li>
							<li class="price"><p>FREE</p></li>
							<li>
								<ul class="options">
									<li>5 <span>emails free</span></li>
									<li>2 hour <span>turnaround</span></li>
									<li>Chinese <span>only</span></li>
									<li>Unlimited <span>contacts</span></li>
									<li>Business hours <span>support</span></li>
								</ul>
							</li>
							<li class="button"><a href="#">Select</a></li>
						</ul>
					</li>

					<li class="plan">
						<ul class="planContainer">
							<li class="title"><h2 class="bestPlanTitle">Standard</h2></li>
							<li class="price"><p class="bestPlanPrice">$20/month</p></li>
							<li>
								<ul class="options">
									<li>10 <span>emails per month</span></li>
									<li>1 hour <span>turnaround</span></li>
									<li>All languages</li>
									<li>Unlimited <span>contacts</span></li>
									<li>24 hour <span>support</span></li>
								</ul>
							</li>
							<li class="button"><a class="bestPlanButton" href="#">Select</a></li>
						</ul>
					</li>

					<li class="plan">
						<ul class="planContainer">
							<li class="title"><h2>Power</h2></li>
							<li class="price"><p>$50/<span>month</span></p></li>
							<li>
								<ul class="options">
									<li>25 + 5 EXTRA <span>emails per month</span></li>
									<li>30 minute <span>turnaround</span></li>
									<li>All languages</li>
									<li>Unlimited <span>contacts</span></li>
									<li>24 hour <span>support</span></li>
								</ul>
							</li>
							<li class="button"><a href="#">Select</a></li>
						</ul>
					</li>

				</ul> <!-- End ul#plans -->
			</div>

  	</div>

  
  </div></div>
</div>
</div>