@import "bootstrap";

/* LESS */
	$grid-columns:              12;
	$grid-gutter-width:         30px;
	$grid-float-breakpoint:     768px;
/* END LESS (get it?)*/

/* Devise Helper CSS */
	.alert-notice {
	    background-color: #dff0d8;
	    border-color: #d6e9c6;
	    color: #468847;
	    text-align: left;
	}
	.alert-error {
	    background-color: #f2dede;
	    border-color: #eed3d7;
	    color: #b94a48;
	    text-align: left;
	}

	.alert-alert {
	    background-color: #f2dede;
	    border-color: #eed3d7;
	    color: #b94a48;
	    text-align: left;
	}

	.alert-success {
	    background-color: #dff0d8;
	    border-color: #d6e9c6;
	    color: #468847;
	    text-align: left;
	}
	.alert {
		margin-bottom: 1px !important;
	}
/* End Devise Helper CSS */

/* Colors CSS */
	.theme1{
		color: #1B325F;
	}
	.theme2{
		color: #9CC4E4;
	}
	.theme3{
		color: #E9F2F9;
	}
	.theme4{
		color: #3A89C9;
	}
	.theme5{
		color: #F26C4F;
	}
	.flatgreen{
		color: #27ae60;
	}
	.flatred{
		color: #e74c3c;
	}
	.flatorange{
		color: #f39c12;
	}
	.flatblue{
		color: #2980b9;
	}
	.darkgray{
		color: #555;
	}
	.lightgray{
		color: #999;
	}
	.white-bkg{
		background-color: #fff;
	}
	.lgray-bkg{
		background-color: #eee;
	}
/* End Colors CSS */

/* Base CSS */
	body{
		background-color: #fff;
		font-family: 'Open Sans', 'Arial';
		color: #333;
		font-size: 14px;
	}

	.babel-header{
		height: 70px;
	}
	.navbar-brand.babel-brand{
		font-size: 36px;
		padding-top: 6px;
		color: rgba(44, 62, 80, 0.9);
		font-weight: 700;
		font-family: 'Montserrat Alternates', 'Allan', 'Arial';
		letter-spacing: -2px;
	}
	.navbar-brand.babel-brand:hover{
		color: rgba(44, 62, 80, 1);
	}
	#babel-navbar-collapse{
		padding-top: 15px;
	}
	#babel-main-links{
		padding-left: 20px;
	}
	#babel-navbar-collapse .navbar-nav li{
		font-size: 16px;
		padding: 0px 10px;
		border-right: 1px solid #ddd;
		margin-top: 4px;
	}
	#babel-navbar-collapse .navbar-nav li a{
		padding-top: 4px;
		padding-bottom: 4px;
	}
	#babel-navbar-collapse .navbar-nav li:last-child{
		border-right: 0px solid #ddd;
	}
	.babel-brand-img{
		height: 60px;
	}
	.navbar{
		margin-bottom: 0px !important;
		background-color: #fff;
	}
	#header-list-car{
		color: #777;
		font-weight: 700;
		font-size: 16px;
	}
	#header-list-car:hover{
		color: #999;
	}
	#header-list-car{
		padding-left: 0px;
	}
	#header-CTA{
		font-weight: 900;
		font-size: 16px;
		color: rgba(29, 147, 221, .9);
	}
	#header-CTA:hover{
		color: rgba(29, 147, 221, 1);
	}
	#dropdown-schedule{
		color: rgba(29, 147, 221, .9);
	}
	#dropdown-schedule:hover{
		color: rgba(29, 147, 221, 1);
	}
	.dropdown-menu{
		min-width: 250px;
	}
	.tagline{
		color: #999;
		margin: -10px 0px 5px 0px;
	}
	.mainpage{
		padding-right: 50px;
		padding-left: 50px;
	}
	#mainrow{
		margin-right: 0px;
		margin-left: 0px;
	}
	html, body {
	  height: 100%;
	}
	#wrap {
	  min-height: 100%;
	}
	#main {
	  overflow:auto;
	  padding-bottom:150px; /* this needs to be bigger than footer height*/
	}
	.footer {
  	background-color: #272727;
		min-height: 80px;
		position: relative;
		width:100%;
		color: #FAFBFC;
		padding: 20px 0px;
		margin-top:0px;
		font-size: 16px;
	}
	#footer{
		color: #eee;
		margin-left: 0px;
		margin-right: 0px;
		width: 100%;
	}
	#footerLeft{
		text-align: left;
		padding-left: 20px;
	}
	#footerRight{
		text-align: right;
		padding-right: 20px;
	}
	#toolbar{
		border-radius: 0px;
		border: 1px solid #111;
		background-color: #333;
		color: #aaa;
	}
	.tool-icon-row{
		text-align: center;
	}
	.tool-icon{
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.tool-icon .glyphicon{
		font-size: 24px;
	}
	.tool-icon:hover{
		background-color: #292929;
		color: #eee;
	}
	.tool-icon-selected{
		background-color: #222;
		color: #eee;
	}
	.tool-link{
		color: #aaa;
	}
	#logo {
		font-size: 50px;
		color: #16a085;
		font-weight: 700;
		font-family: 'Montserrat Alternates', 'Allan', 'Arial';
		background-image: -webkit-gradient(linear, left top, left bottom, from(#16a085), to(rgba(22,160,133,0.7)));
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	.CTA-button {
			-moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
			-webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
			box-shadow:inset 0px 1px 0px 0px #97c4fe;
			background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0) );
			background:-moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% );
			filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
			background-color:#3d94f6;
			-webkit-border-top-left-radius:2px;
			-moz-border-radius-topleft:2px;
			border-top-left-radius:2px;
			-webkit-border-top-right-radius:2px;
			-moz-border-radius-topright:2px;
			border-top-right-radius:2px;
			-webkit-border-bottom-right-radius:2px;
			-moz-border-radius-bottomright:2px;
			border-bottom-right-radius:2px;
			-webkit-border-bottom-left-radius:2px;
			-moz-border-radius-bottomleft:2px;
			border-bottom-left-radius:2px;
			text-indent:0;
			border:1px solid #337fed;
			display:inline-block;
			color:#ffffff;
			font-family:Arial;
			font-size:24px;
			font-weight:bold;
			font-style:normal;
			height:65px;
			line-height:65px;
			width:200px;
			text-decoration:none;
			text-align:center;
			text-shadow:1px 1px 0px #1570cd;
		}
		.CTA-button:hover {
			background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6) );
			background:-moz-linear-gradient( center top, #1e62d0 5%, #3d94f6 100% );
			filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
			background-color:#1e62d0;
		}
		.CTA-button:active {
			position:relative;
			top:1px;
		}
	label.error{
	    color:#DA6565;
	}
	@media (max-width: 767px){
		#arrow-up{
			top: 32px;
			left: 50%;
		}
		.navbar-nav{
			width: 100%;
			text-align: center;
			margin: 0px;
		}
		#nav-dropdown{
			width: 100%;
		}
		#nav-dropdown .btn{
			border-radius: 0px;
		}
	}
/* End Base CSS */

/* Home CSS */
	.mask-container{
		position: relative;
	}
	#opacity-mask{
		opacity: 0;
	    background-color: black;
	    position: absolute;
	    left: 0;
	    top: 0;
	    height: 100%;
	    width: 100%;
	}
	#landing-hero {
		padding: 120px 20px;
	}
	#landing-image{
		background-image: image-url('/assets/typing.png');
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: 0px -50px;
		min-height: 600px;
		max-width: 2000px;
		border-bottom: 1px solid #fafbfc;
	}
	.hero-type{
		color: #fff;
		font-family: 'Varela';
		display: inline-block;
		font-weight: 700;
		font-size: 42px;
		line-height: 56px;
		text-shadow: rgba(0,0,0,0.9) 2px 2px 9px;
	}
	.hero-type h3{
		font-weight: 200;
		line-height: 28px;
		text-shadow: rgba(0,0,0,0.9) 1px 1px 2px;
		color: #fcfcfc;
		margin-bottom: 20px;
	}
	a.button-default {
		background: -webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(0,0,0,0.3)),color-stop(1,rgba(0,0,0,0.5)));
		background: -webkit-linear-gradient(top,rgba(0,0,0,0.3) 0,rgba(0,0,0,0.5) 100%);
		background: -moz-linear-gradient(top,rgba(0,0,0,0.3) 0,rgba(0,0,0,0.5) 100%);
		background: -o-linear-gradient(top,rgba(0,0,0,0.3) 0,rgba(0,0,0,0.5) 100%);
		background: -ms-linear-gradient(top,rgba(0,0,0,0.3) 0,rgba(0,0,0,0.5) 100%);
		background: linear-gradient(top,rgba(0,0,0,0.3) 0,rgba(0,0,0,0.5) 100%);
		-webkit-box-shadow: 0 1px 7px rgba(0,0,0,0.3);
		box-shadow: 0 1px 7px rgba(0,0,0,0.3);
		-webkit-font-smoothing: subpixel-antialiased;
		padding: 0px;
	}
	a.button-default span{
		background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#5db6e8),color-stop(0.85,#168eda),color-stop(0.9,#168eda),color-stop(1,#1d93dd));
		background: -webkit-linear-gradient(top,#5db6e8 0,#168eda 85%,#168eda 90%,#1d93dd 100%);
		background: -moz-linear-gradient(top,#5db6e8 0,#168eda 85%,#168eda 90%,#1d93dd 100%);
		background: -o-linear-gradient(top,#5db6e8 0,#168eda 85%,#168eda 90%,#1d93dd 100%);
		background: -ms-linear-gradient(top,#5db6e8 0,#168eda 85%,#168eda 90%,#1d93dd 100%);
		background: linear-gradient(top,#5db6e8 0,#168eda 85%,#168eda 90%,#1d93dd 100%);
		padding: 20px 40px;
		border-radius: 6px;
		display: block;
		color: #fff;
		font-size: 28px;
	}

	#languages-and-pricing{
		min-height: 100px;
		background-color: #fff;
		border-bottom: 1px solid #e5e5e5;
		padding: 60px 0px 100px 0px;
		color: rgba(22, 160, 133, 1);
		font-size: 16px;
		text-align: center;
	}
	#languages-and-pricing h1{
		margin: 50px 0px 50px 0px;
		color: rgba(52, 73, 94,1.0);
		font-size: 48px;
		font-family: 'Varela';
	}
	#languages-and-pricing h3{
		margin: 30px 0px 30px 0px;
		color: #333;
		font-family: 'Varela';
	}
	#languages-and-pricing span{
		padding: 10px 0px;
		margin-left: 20%;
		color: #333
	}
	#languages-and-pricing table{
		text-align: left;
	}
	#languages-and-pricing tr{
		padding: 30px 0px;
	}
	#languages-and-pricing td{
		border: 1px solid #ccc;
	}
	.flag-small{
		box-shadow:1px 1px 7px rgba(0,0,0,0.6);
		padding: 1px;
		margin: 4px;
		height: 40px;
	}
	.coming-soon{
		background-color: #eee;
	}
	.box-well{
		border: 1px solid rgba(27, 167, 140, 1);
		padding: 20px;
		font-size: 32px;
		font-weight: 100;
		margin-top: 50px;
		margin-bottom: 20px;
		background-color: rgba(22, 160, 133, 1);
		color: #fafbfc;
	}

	#key-features{
		min-height: 100px;
		background-color: rgba(52, 73, 94,1.0);
		border-bottom: 1px solid #e5e5e5;
		padding: 60px 0px 100px 0px;
		color: rgba(22, 160, 133, 1);
		font-size: 16px;
		text-align: center;
	}
	#key-features h1{
		margin: 50px 0px 50px 0px;
		color: rgba(255, 255, 255, 1);
		font-size: 48px;
		font-family: 'Varela';
	}
	#key-features h3{
		margin: 30px 0px 30px 0px;
		color: #333;
		font-family: 'Varela';
	}
	#key-features a{
		font-weight: bold;
		cursor: pointer;
		color: #1d93dd;
	}
	#key-features a:hover{
		text-decoration: none;
		color: #1776B1;
	}
	#key-features .marketing-row{
		margin-bottom: 20px;
	}
	#key-features .marketing-block{
		padding: 0px 40px;
	}
	#key-features .marketing-icon{
		font-size: 70px;
		text-align: center;
		padding: 20px 0px;
		height: 120px;
		width: 120px;
		border-radius: 50%;
		border: 2px solid rgba(22, 160, 133, 0.7);
		color: rgba(22, 160, 133, 0.7);
	}
	#key-features .marketing-icon-num{
		font-size: 20px;
		font-weight: bold;
		border-radius: 50%;
		height: 30px;
		width: 30px;
		border: 2px solid rgba(22, 160, 133, 1);
		position: absolute;
		top: -5px;
		left: 0px;
		background-color: #FAFBFC;
		color: rgba(22, 160, 133, 1);
	}
	#key-features p{
		padding-top: 20px;
		font-size: 20px;
		font-weight: 700;
		color: rgba(255, 255, 255, 1);
	}
	#key-features .marketing{
		padding-left: 30px;
		padding-right: 20px;
	}
	#apply-today{
		background-color: #fafbfc;
		min-height: 80px;
		padding: 20px 0px 20px 0px;
	}
	#apply-today h2{
		text-align: center;
		line-height: 50px;
		font-size: 24px;
		font-weight: 400;
	}
	#apply-today .button-default, #apply-today .button-default span{
		height: 80px;
		font-size: 30px;
	}
	.banner-sessions{
		background-color: #999;
		color: #fff;
		border-bottom: 1px solid #e5e5e5;
		line-height: 50px;
		padding: 20px 0px 40px 0px;
	}
	#list-top-owners{
		background-color: rgba(22, 160, 133,0.8);
		color: #fff;
		border-bottom: 1px solid #e5e5e5;
		line-height: 50px;
		padding: 20px 0px 40px 0px;
	}
	#list-top-drivers{
		background-color: rgba(29, 147, 221,0.8);
		color: #fff;
		border-bottom: 1px solid #e5e5e5;
		line-height: 50px;
		padding: 20px 0px 40px 0px;
	}
	#list-top-drivers{
		background-color: rgba(29, 147, 221,0.8);
		color: #fff;
		border-bottom: 1px solid #e5e5e5;
		line-height: 50px;
		padding: 20px 0px 40px 0px;
	}
	#list-top-drivers h1, #list-top-owners h1, .banner-sessions h1{
		padding-bottom: 10px;
	}
	#list-top-drivers h5, #list-top-owners h5, .banner-sessions h5{
		font-size: 16px;
		font-weight: 300;
		color: #FAFBFC
	}
	.divider-inside-top-bottom {
	  position:relative;
	  overflow:hidden;
	}
	.divider-inside-top-bottom:before {
	  content: "";
	  position:absolute;
	  z-index: 1;
	  width:96%;
	  top: -10px;
	  height: 10px;
	  left: 2%;
	  border-radius: 100px / 5px;
	  box-shadow:0 0 9px rgba(0,0,0,0.8);
	}
	.divider-inside-top-bottom:after {
	  content: "";
	  position:absolute;
	  z-index: 1;
	  width:96%;
	  bottom: -10px;
	  height: 5px;
	  left: 2%;
	  border-radius: 100px / 5px;
	  box-shadow:0 0 6px rgba(0,0,0,0.8);
	}
	.divider-inside-top {
	  position:relative;
	  overflow:hidden;
	  border-top:1px solid #ddd;
	}
	.divider-inside-top:before {
	  content: "";
	  position:absolute;
	  z-index: 1;
	  width:96%;
	  top: -10px;
	  height: 10px;
	  left: 2%;
	  border-radius: 100px / 5px;
	  box-shadow:0 0 18px rgba(0,0,0,0.6);
	}
	#large-visual{
		padding: 50px 0px 20px 0px;
		background-color: #FAFBFC;
	}
	.email-visual{
		margin-bottom: 0px;
	}
	.email-visual h1{
		margin: 50px 0px 20px 0px;
		color: rgba(70, 71, 72,1.0);
		font-size: 40px;
		font-family: 'Varela';
		text-align: center;
	}
	.email-visual h3{
		margin: 0px 0px 50px 0px;
		color: rgba(70, 71, 72,1.0);
		font-family: 'Varela';
		text-align: center;
	}
	.email-visual-sender, .email-visual-recipient{
		font-family: Arial;
		font-size: 14px;
	}
	.email-visual-sender .email-visual-title{
		background-color: rgba(231, 76, 60, 0.9);
	}
	.email-visual-recipient .email-visual-title{
		background-color: rgba(70, 71, 72, 1);
	}

	.received{
		opacity: 0.7;
	}
	.arrow{
		padding-top: 90px;
		border-bottom: 5px dashed #aaa;
		position: relative;
	}
	.fish-visual-left{
		position: absolute;
		width: 80px;
		top:	60px;
		left: 30%;
	}
	.fish-visual-right{
		position: absolute;
		width: 80px;
		top:	60px;
		right: 30%;
		-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
	}
	.arrow .glyphicon-chevron-right{
		position: absolute;
		top: 85px;
		right: -15px;
		color: #aaa;
	}
	.arrow .glyphicon-chevron-left{
		position: absolute;
		top: 85px;
		left: -15px;
		color: #aaa;
	}
	.down-arrow.left{
		height: 50px;
		border-right: 5px dotted #aaa;
		margin-right: 220px;
		margin-top: 10px;
		margin-bottom: 10px;
		position: relative;
		opacity: 0.8;
	}
	.down-arrow.left .glyphicon-chevron-down{
		right: -9px;
		padding-top: 50px;
		color: #aaa;
		position: absolute;
	}
	.down-arrow.right{
		height: 50px;
		border-left: 5px dotted #aaa;
		margin-left: 220px;
		margin-top: 10px;
		margin-bottom: 10px;
		position: relative;
		opacity: 0.5;
	}
	.down-arrow.right .glyphicon-chevron-down{
		left: -9px;
		padding-top: 50px;
		color: #aaa;
		position: absolute;
	}

	.email-visual-title{
		border: 1px solid #ccc;
		padding: 10px 10px 6px 10px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		color: #fff;
	}
	.email-visual-body{
		background-color: rgba(255, 255, 255,1.0);
		border-left: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		border-right: 1px solid #ccc;
		padding: 14px 10px 14px 10px;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}

	#welcome-modal{
		padding-top: 5%;
	}
	@media (max-width: 1440px){
		#landing-image{
			background-size: 1440px;
		}
	}
	@media (max-width: 991px){
		#landing-image{
			background-position: 0px 0px
		}
		#hero-type{
			text-shadow: rgba(0,0,0,0.75) 1px 1px 1px;
		}
		.navbar-header{
			margin-right: auto;
			margin-left: auto;
		}
		#key-features .marketing-block{
			margin-bottom: 40px;
		}
		#key-features{
			padding-bottom: 0px;
		}
		.navbar-collapse{
			padding-left: 0px;
			padding-right: 0px;
		}
		#large-visual{
			display: none;
		}
		#logo{
			display: block;
			margin: auto;
		}
		#footerRight{
			text-align: center;
		}
		#footerLeft{
			text-align: center;
		}
		a.button-default, a.button-default span{
			width: 100%;
		}
		#babel-navbar-collapse {
			width: 100%;
		}
		#babel-main-links {
			padding-left: 0px;
		}
		.navbar-nav .open .dropdown-menu {
			width: 100%;
		}
		.navbar-collapse.in {
			overflow-y: visible;
		}
	}
/* End Home CSS */

/* Form Page CSS */
	.form-page{
		min-height: 560px;
		padding: 20px 0px 40px 0px;
		background-color: #fafbfc;
	}
	.normal-page{
		min-height: 560px;
		padding: 20px 0px 40px 0px;
		background-color: #fafbfc;
	}
	.form-page h2, .form-page h5{
		text-align: center;
		color: #555;
	}
	.form-page h5{
		padding-bottom: 20px;
	}
	.form-box{
		border: 1px solid #ddd;
		padding: 30px;
		border-radius: 10px;
		background-color: #fff;
	}
	.form-box label{
		color: #14679B;
		font-size: 16px;
		font-weight: 100;
	}
	.form-box input{
		height: 40px;
		width: 100%;
		margin-bottom: 10px;
	}
	.form-box select{
		height: 40px;
		width: 100%;
		font-size: 20px !important;
		margin-bottom: 10px;
	}
	.form-box .btn{
		margin-top: 40px;
	}
	#account-submit-button{
		font-size: 16px;
	}
	.help-inline{
		color: #e74c3c;
	}
/* End Form Page CSS */

/* Contacts CSS */

	.pop-up{

		background-color: #fff;
		margin-top: 20px;
		padding: 40px;
		border-radius: 10px;
		border: 1px #eee solid;
		-webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
		box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
		-webkit-font-smoothing: subpixel-antialiased;


	}
	.normal-page-title{
		font-size: 32px;
	}

	.normal-page table{
		margin-top: 30px;
	}
	.normal-page thead{
		background-color: rgba(44, 62, 80,1.0);
		font-size: 16px;
		font-weight: 900;
		color: #fff;
		border-radius: 4px;
	}
/* End Contacts CSS */

/* Override Bootstrap style to address bug with mobile dropdowns */
.dropdown-backdrop {
    position: static;
}
