<footer class="footer divider-inside-top">
  <div class="container" id="footer">
    <div class="row">
      <div class="col-md-6" id="footerLeft">
        © 2014 Babel Mail - Connect with the World
      </div>
      <div class="col-md-6" id="footerRight">
        Contact Us &nbsp;&nbsp; | &nbsp;&nbsp;<a href="mailto:hello@babel-mail.com" >hello@babel-mail.com</a>
      </div>
    </div>
  </div>
</footer>