<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header babel-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#babel-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand babel-brand" href="/"><%= image_tag "babel-small.png", class: "babel-brand-img" %> Babel Mail</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->

    <% if user_signed_in? %>
      <%= render 'layouts/navbar_signed_in' %>
    <% else %>
      <%= render 'layouts/navbar_signed_out' %>
    <% end %>
  </div><!-- /.container-fluid -->
</nav>