<li>
  <%= link_to("Sign up", "#", id: "header-CTA") %>
</li>
<li>
  <a href="#" class="dropdown-toggle CTA" id="header-signin" data-toggle="dropdown">
    Login <span class="caret"></span>
  </a>
  <ul class="dropdown-menu signed-out pull-right" role="menu">
  </ul> 
</li>