<li>
  <%= link_to("Sign up", new_user_registration_path, id: "header-CTA") %>
</li>
<li>
	<%= link_to new_user_session_path, class: "dropdown-toggle CTA", id: "header-signin", :'data-toggle' => 'dropdown' do %>
	Login <span class="caret"></span>
	<% end %>
  <ul class="dropdown-menu signed-out pull-right" role="menu">
  </ul> 
</li>