<li>
  <%= link_to edit_user_registration_path, :id => "header-CTA" do %> 
  Welcome <%= current_user.email %>
  <% end %>
</li>
<li>
  <%= link_to destroy_user_session_path, :method => :delete, class: "dropdown-toggle CTA", id: "header-signout" do %>
    Log out
  <% end %>
  <ul class="dropdown-menu signed-out pull-right" role="menu">
  </ul> 
</li>